/*index*/
/*body{
    background-image: url("../images/pion.png");
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size: 25%;
}*/

/*etapes*/
a{
    text-decoration: none;
    size : large;
}